{{template "header"  .}}
<style>

    .logo{

        position: absolute;
        top: 7px;
        right: 15px;
        width: 120px;
    }

</style>

<img class="logo" src="pub/img/logo.png" alt="logo">
<h1>
    Account
</h1>

{{template "nav-main"}}
<body>

</body>

{{template "footer"}}

