{{template "header" .}}
<style>

    .logo{

        position: absolute;
        top: 7px;
        right: 15px;
        width: 120px;
    }

</style>

<img class="logo" src="../img/logo.png" alt="logo">
<h1>Forum</h1>

{{template "nav-main"}}

<body>

<script src="http://apps.bravenet.com/go.js?service=forum;id=1;usernum=1345148127" type="text/javascript" charset="utf-8"></script>
</body>


{{template "footer"}}