{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css">

            {{if .FirstName}}
    <title>{{.FirstName}}</title>
            {{else}}
    <title>{{.Title}}</title>
            {{end}}
</head>
<body>

{{end}}
{{/*end of header*/}}


{{define "footer"}}

 </body>
 </html>

 {{end}}
{{/*end of footer*/}}