{{define "header"}}

<!DOCTYPE html>
<meta charset="UTF-8">

<html>
<head>

    {{if .FirstName}}
        <title>{{.FirstName}}</title>
    {{else}}
        <title>{{.Title}}</title>
    {{end}}


    <link rel="stylesheet" href="../css/main.css">

</head>


{{end}}
{{/*end of header*/}}


{{define "footer"}}

 </html>
<footer>

</footer>
 {{end}}
{{/*end of footer*/}}