{{template "header" .}}
<style>

    .logo{

        position: absolute;
        top: 7px;
        right: 15px;
        width: 120px;
    }
    .mapmain{
        background-color: #333;
    }

</style>

<img class="logo" src="../img/logo.png" alt="logo">
<h1>Maps</h1>

{{template "nav-main"}}
<body>
<main class="mapmain">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1N7VdMb1zGCpTvcX8758s6VQ_NyAydaG0" height="500px" width="99.9%"></iframe>
</main>
</body>
{{template "footer"}}