{{template "header" .}}
<style>

    .logo{

        position: absolute;
        top: 7px;
        right: 15px;
        width: 120px;
    }

</style>

<img class="logo" src="../img/logo.png" alt="logo">
<h1>Events</h1>

{{template "nav-main"}}
{{template "TTT-nav"}}

{{template "footer"}}